.profile-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.main .profile {
  min-height: auto;
  padding: 10rem 0;
}

.profile-columns .profile_inner {
  flex: 1 1 0;
  min-width: 300px;
  width: 100%;
}

.profile img.secondary-image {
  border-radius: 8px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  max-width: 100%;
}

.profile .secondary-text {
  margin-top: 10px;
}

.experience-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: var(--gap);
  margin: var(--gap) auto 0;
}

.experience-grid>* {
  flex: 0 0 var(--main-width, 720px);
  max-width: var(--main-width, 720px);
}

@media screen and (max-width: 1464px) {
  .experience-grid {
    flex-wrap: wrap;
  }

  .experience-grid>* {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
