html body {
  font-family: "Inter", "Work Sans", "Montserrat", "Helvetica Neue", Arial, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif !important;
}

.posts-list article.summary p,
.posts-list article.summary ul,
#blog-single p,
#blog-single ul {
  font-size: 1.1rem;
  line-height: 1.75em;
  padding-bottom: 0.5em;
}

.posts-list, #blog-single {
  max-width: 46rem;
}

/* Makes underlined links consistent across dark and light theme */
.posts-list p a, #blog-single p a {
  border-bottom: 1px solid var(--bs-body-color);
}

/* Include unordered lists too, since they are treated differently by default */
.posts-list ul a, #blog-single ul a {
  border-bottom: 1px solid var(--bs-body-color);
  color: var(--bs-body-color);
  font-weight: 600;
}

/* Centre the blog article */
#blog-single {
  margin: 0 auto;
}

/* Make code blocks prettier */
pre, textarea {
  padding: 20px;
}

/* Make inline code text stand out more from regular body text */
p code {
  border-color: var(--bs-code-color);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0.25rem;
}

/* Make the tags stick out less, but still doesn't look ideal.
*  Different approach might be needed. */
ul.tags li {
  background-color: initial;
  border-color: var(--bs-gray-500);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}

ul.tags li::before {
  background-color: var(--bs-gray-500) !important;
}

[data-bs-theme="dark"] ul.tags li {
  background-color: initial;
  border-color: var(--bs-body-color);
}

[data-bs-theme="dark"] .blog .blog-sidebar .sidebar-section ul li a {
  color: var(--bs-body-color) !important;
}

/* Squeeze more text onto the screen on mobile devices */
@media (max-width: 520px) {
  .posts-list article.summary p,
  .posts-list article.summary ul,
  #blog-single p,
  #blog-single ul {
    font-size: 13px;
  }
}

