<div class="logo-marquee-container">
  <h3 class="logo-marquee-header">{{ i18n "programming_languages" }}</h3>
  <div class="marquee">
    <div class="marquee-track">
      <img src="/logos/go.svg" alt="Go" class="marquee-icon">
      <img src="/logos/nim.svg" alt="Nim" class="marquee-icon">
      <img src="/logos/gdscript.svg" alt="GDScript" class="marquee-icon">
      <img src="/logos/bash.svg" alt="Bash" class="marquee-icon">
      <img src="/logos/python.svg" alt="Python" class="marquee-icon">
      <img src="/logos/ocaml.svg" alt="OCaml" class="marquee-icon">
      <img src="/logos/lua.svg" alt="Lua" class="marquee-icon">
      <img src="/logos/typescript.svg" alt="TypeScript" class="marquee-icon">
      <img src="/logos/julia.svg" alt="Julia" class="marquee-icon">
      <img src="/logos/go.svg" alt="Go" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/nim.svg" alt="Nim" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/gdscript.svg" alt="GDScript" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/bash.svg" alt="Bash" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/python.svg" alt="Python" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/ocaml.svg" alt="OCaml" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/lua.svg" alt="Lua" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/typescript.svg" alt="TypeScript" class="marquee-icon" aria-hidden="true" tabindex="-1">
      <img src="/logos/julia.svg" alt="Julia" class="marquee-icon" aria-hidden="true" tabindex="-1">
    </div>
  </div>
</div>
